*{
	box-sizing:border-box;
}
body{
	font-family: 'Arapey', sans-serif;
}
.wrapper ul{
  display: block;
  list-style-type: none;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.wrapper a:hover{
  cursor: pointer;
  display: inline-block;
  background-color: #000;
  opacity: 0.5;
  filter: (opacity vaule=50);
}
.wrapper img{
  max-width: 824px;
  max-height: 173px;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
#logo ul{
	list-style-type: none;
}
#logo img{
  max-width: 195px;
  max-height: 55px;
}
#footer img{
  max-height: 75px;
  max-width: 75px;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}
@media only screen and (max-device-width: 480px) {
		div#wrapper {
			width: 400px;
		}
@media only screen and (max-device-width: 480px) {
		div#logo {
			width: 100%;
		}
@media only screen and (max-device-width: 480px) {
		div#banner {
			width: 100%;
		}
#